body{
  background-color: black;
  background-image:url("https://www.windowslatest.com/wp-content/uploads/2017/10/Windows-XP-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}